Source: rust-proxmox-mail-forward
Section: rust
Priority: optional
Build-Depends: cargo:native,
               debhelper-compat (= 13),
               dh-cargo (>= 25),
               librust-anyhow-1+default-dev,
               librust-nix-0.29+default-dev,
               librust-proxmox-http-1+default-dev (>= 1.0.2-~~),
               librust-proxmox-log-1+default-dev,
               librust-proxmox-notify-1+default-dev,
               librust-proxmox-notify-1+mail-forwarder-dev,
               librust-proxmox-notify-1+pbs-context-dev,
               librust-proxmox-notify-1+pve-context-dev,
               librust-proxmox-sys-1+default-dev,
               libstd-rust-dev,
               patchelf,
               rustc:native,
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox-mail-forward.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox-mail-forward.git
Homepage: https://www.proxmox.com
Rules-Requires-Root: binary-targets

Package: proxmox-mail-forward
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Proxmox mail forward helper
 This package contains the Proxmox mail forward helper. It forwards mails to
 the address(es) of the root@pam user in Proxmox Backup Server and Proxmox VE.
